@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
	--bg: #232932;
	--dark-bg: #1e2229;
	--primary-text: #fff;
	--primary: #ffd36a;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}
